@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
}

/* Header */

header {
    height: 10vh;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    z-index: 2;
    position: fixed;
}

header a {
    text-decoration: none;
    color: white;
}

header h3 {
    margin: 0 auto;
    color: white;
    font-family: Avenir Condensed;
    font-size: 17pt;
    letter-spacing: 2px;
}

header h3 span {
    font-size: 12pt;
}

header i {
    color: white;
    margin-right: 30px;
}

header i:hover {
    cursor: pointer;
}

.dropdown {
    height: auto;
    padding: 0px;
    width: 150px;
    position: absolute;
    top: 70px;
    right: 30px;
    visibility: hidden;
    background-color: rgba(0,0,0,0.8);
    color: white;
    z-index: 2;
}

.dropdown li {
    text-align: center;
    line-height: 60px;
    font-family: Gotham;
    font-weight: 600;
    font-size: 10pt;
}

.dropdown li:hover {
    background-color: gray;
    cursor: pointer;
}

.dropdown li a {
    text-decoration: none;
    display: block;
    color: white;
}

/* Main Section */

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sections {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center; 
}

#contact_form {
    background-image: url('../images/accounts1.png');
    background-size: cover;
    background-position: -170px 0px;
}

#contact_form form {
    margin: 50px auto 0px auto;
    height: 70%;
    width: 70%;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    flex-direction: column;
}

#contact_form table {
    height: 80%;
    width: 100%;
    padding: 0 20px;
    font-family: Gotham;
}

#contact_form form input,#contact_form form textarea {
    border: 0;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: 3px;
}

#contact_form form input:focus {
    outline: none;
    border-radius: 5px;
}

#contact_form form textarea {
    height: 80px;
}

#contact_form button {
    margin: 10px auto 0px auto;
    width: 40%;
    height: 40px;
    background-color: salmon;
    color: white;
    font-family: Gotham;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}

#social_network {
    flex-direction: column;
    font-family: Gotham;
    color: darkgray;
}

#social_network h2 {
    margin: 200px 0px 0px 0px;
}

#icons {
    height: auto;
    display: flex;
    padding: 20px 0px;
    margin: 30px 0px;
}

#icons img {
    margin: 0px 20px;
    height: 50px;
    width: 50px;
}