@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
}

/* Header */

header {
    height: 10vh;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    z-index: 2;
    position: fixed;
}

header a {
    text-decoration: none;
    color: white;
}

header h3 {
    margin: 0 auto;
    color: white;
    font-family: Avenir Condensed;
    font-size: 17pt;
    letter-spacing: 2px;
}

header h3 span {
    font-size: 12pt;
}

header i {
    color: white;
    margin-right: 30px;
}

header i:hover {
    cursor: pointer;
}

.dropdown {
    height: auto;
    padding: 0px;
    width: 150px;
    position: absolute;
    top: 70px;
    right: 30px;
    visibility: hidden;
    background-color: rgba(0,0,0,0.8);
    color: white;
    z-index: 2;
}

.dropdown li {
    text-align: center;
    line-height: 60px;
    font-family: Gotham;
    font-weight: 600;
    font-size: 10pt;
    list-style: none;
}

.dropdown li:hover {
    background-color: gray;
    cursor: pointer;
}

.dropdown li a {
    text-decoration: none;
    display: block;
    color: white;
}

/* About Me Section */

#page {
    height: 100vh;
    width: 100%;
}

.slide {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(211, 211, 211,0.3);
}

.active-slide {
    position: relative;
}

/* Sliding Divs */

.slideImg {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.slideText {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.slideText p {
    margin: 0px auto 0px auto;
    font-family: Gotham;
    width: 75%;
    height: auto;
    padding: 0px 20px;
    line-height: 50px;
    font-size: 12pt;
}

/* Form Field with Angular multiple view */

div.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.form p.conversation {
    width: auto;
    font-size: 15pt;
    font-family: Source Sans Pro Light;
    background: #007AFF;
    color: white;
    border-radius: 30px;
}

.answerField:focus {
    box-shadow: 0 0 0 1px #34AADC;
}

#name {
    width: 250px;
    height: 30px;
    display: inline;
    margin-top: 40px;
    text-align: center;
}

#message {
    width: 380px;
    height: 100px;
    margin-top: 30px;
    text-align: left;
}

.info {
    height: 30px;
    margin-bottom: 10px;
}

.answerField {
    background: white;
    border: 1px solid #34AADC;
    border-radius: 3px;
    font-size: 14pt;
    padding: 4px;
    font-family: Source Sans Pro Light;
    text-align: center;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgba(0,0,0,0.3);
}

footer p {
    margin: 0 auto;
    width: auto;
    padding: 0px 10px;
    font-family: Avenir Condensed Regular;
    font-size: 11pt;
}

footer span {
    font-weight: 700;
}
