<html ng-app="personal-website">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arpit Bansal</title>
    <link href="css/theme-nearblack.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600"
        rel='stylesheet' type='text/css'>

    <!-- Angular JS -->
    <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
</head>

<body>
    <div class="main-container">
        <div class="container__item landing-page-container">
            <div class="content__wrapper">
                <header class="header">
                    <div class="menu-icon header__item">
                    </div>

                    <h1 class="heading header__item">Arpit Bansal <span style="font-weight: 300">Designer, Developer &amp; Entrepreneur</span></h1>

                    <ul class="social-container header__item">
                        <li class="social__icon">
                            <a href="https://www.facebook.com/arpit.678" target="_blank"><i class="fa fa-facebook" style="color: #92B1BE" alt="facebook"></i></a>
                        </li>
                        <li class="social__icon">
                            <a href="https://www.linkedin.com/in/arpit-bansal/" target="_blank"><i class="fa fa-linkedin" style="color: #92B1BE" alt="linkedin"></i></a>
                        </li>
                        <li class="social__icon">
                            <a href="https://twitter.com/ArpitBansa1" target="_blank"><i class="fa fa-twitter" style="color: #92B1BE" alt="twitter"></i></a>
                        </li>
                        <li class="social__icon">
                            <a href="https://www.instagram.com/arpitbansal3/" target="_blank"><i class="fa fa-instagram" style="color: #92B1BE" alt="instagram"></i></a>
                        </li>
                        <li class="social__icon">
                            <a href="https://github.com/abansal3" target="_blank"><i class="fa fa-github" style="color: #92B1BE" alt="stack overflow"></i></a>
                        </li>
                    </ul>
                </header>

                <p class="coords">N 49° 16' 35.173" / W 0° 42' 11.30"</p>

                <div class="ellipses-container">
                    <h2 class="greeting">Hello</h2>
                    <h2 class="bio">
                        I'm a technology enthusiast, designer and entrepreneur based out of Boston, currently working on my software development
                        company <a href="https://jinn.tech" target="_blank">Jinn</a>.
                    </h2>

                    <div class="ellipses ellipses__outer--thin">

                        <div class="ellipses ellipses__orbit"></div>

                    </div>

                    <div class="ellipses ellipses__outer--thick"></div>
                </div>

                <div class="mobileOnly">
                    <h2 class="bio">
                        I'm a technology enthusiast, designer and entrepreneur based out of Boston, currently working on my software development
                        company <a href="https://jinn.tech" target="_blank">Jinn</a>.
                    </h2>
                </div>

            </div>

        </div>

        <div id="parallax-world-of-ugg">

            <section>
                <div class="parallax-one">
                    <h2>MY STORY</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <p>
                        <span class="first-character sc">I </span>

                    </p>
                    <p class="margin-top-10">
                        I was able to witness the startup ecosystem over the years as my dad and I would talk about it over dinner, travels and whenever else possible. I introduced myself to technology after having played around with computers for a bit and have never let go since. From traveling to hackathons to staying up late nights and discussing philosophy, I enjoy almost all interactions with smart, inspired and curious people. If you ever want to get to know me, drop me a message and I will make sure we get lunch together.
                    </p>
                </div>
            </section>

            <section>
                <div class="parallax-two">
                    <h2>MY WORK</h2>
                </div>
            </section>

            <section>
                <div class="block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                                <div class="tabbed-content text-tabs">
                                    <ul class="tabs">
                                        <li class="active" ng-controller="portfolioController">
                                            <div class="tab-title">
                                                <span>Portfolio</span>
                                            </div>
                                            <div class="tab-content">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
                                                            <div class="horizontal-tile" ng-repeat="portfolio in portfolios">
                                                                <div class="tile-left">
                                                                    <!--<a href="portfolio/{{portfolio.title.replace(' ','-').toLowerCase()}}">-->
                                                                    <div class="background-image-holder">
                                                                        <img alt="image" class="background-image" ng-src="{{portfolio.image}}">
                                                                    </div>
                                                                    <!--</a>-->
                                                                </div>
                                                                <div class="tile-right bg-secondary">
                                                                    <div class="description">
                                                                        <h4 class="mb8">{{portfolio.title}}</h4>
                                                                        <h6 class="uppercase">
                                                                            {{portfolio.subtitle}}
                                                                        </h6>
                                                                        <p>
                                                                            {{portfolio.description}}
                                                                        </p>
                                                                        <div class="technologies">
                                                                            <span class="technology" ng-repeat="technology in portfolio.technologiesUsed">
                                                                                {{technology}}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-controller="achievementController">
                                            <div class="tab-title">
                                                <span>Achievements</span>
                                            </div>
                                            <div class="tab-content">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
                                                            <div class="horizontal-tile" ng-repeat="achievement in achievements">
                                                                <div class="tile-left">
                                                                    <!--<a href="portfolio/{{portfolio.title.replace(' ','-').toLowerCase()}}">-->
                                                                    <div class="background-image-holder">
                                                                        <img alt="image" class="background-image" ng-src="{{achievement.image}}">
                                                                    </div>
                                                                    <!--</a>-->
                                                                </div>
                                                                <div class="tile-right bg-secondary">
                                                                    <div class="description">
                                                                        <h4 class="mb8">{{achievement.title}}</h4>
                                                                        <h6 class="uppercase">
                                                                            {{achievement.subtitle}}
                                                                        </h6>
                                                                        <p>
                                                                            {{achievement.description}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!--<li>
                                            <div class="tab-title">
                                                <span>Blogs</span>
                                            </div>
                                            <div class="tab-content" ng-controller="blogController">

                                            </div>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <section>
                    <div class="parallax-three">
                        <h2>CONTACT ME</h2>
                    </div>
                </section>

                <section style="padding-bottom: 0">
                    <div class="container">
                        <div class="row contact">
                            <div class="half">
                                <h4 class="uppercase">Get In Touch</h4>
                                <p>
                                    If you enjoyed getting to know me, drop me a message and I'd love to talk more. I appreciate your time and have a great day!
                                </p>
                                <hr>
                                <p>
                                    231 Forest Street
                                    <br> Babson Park, Massachusetts
                                    <br> P.O Box 1710
                                </p>
                                <hr>
                                <p>
                                    <strong>E:</strong> arpit@jinn.tech
                                    <br>
                                    <strong>P:</strong> +1 6173566919
                                    <br>
                                </p>
                            </div>
                            <div class="half">
                                <img class="profile" src="img/arpit.png" />
                            </div>
                        </div>
                        <div class="row contactSocialIcons">
                            <a href="https://www.facebook.com/arpit.678" target="_blank"><i class="fa fa-facebook fa-3x" style="color: #92B1BE" alt="facebook"></i></a>
                            <a href="https://www.linkedin.com/in/arpit-bansal/" target="_blank"><i class="fa fa-linkedin fa-3x" style="color: #92B1BE" alt="linkedin"></i></a>
                            <a href="https://twitter.com/ArpitBansa1" target="_blank"><i class="fa fa-twitter fa-3x" style="color: #92B1BE" alt="twitter"></i></a>
                            <a href="https://www.instagram.com/arpitbansal3/" target="_blank"><i class="fa fa-instagram fa-3x" style="color: #92B1BE" alt="instagram"></i></a>
                            <a href="https://github.com/abansal3" target="_blank"><i class="fa fa-github fa-3x" style="color: #92B1BE" alt="stack overflow"></i></a>
                        </div>
                    </div>
                </section>
            </section>
        </div>

        <!-- Script -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
        <script src="js/custom.js"></script>
</body>

</html>