<p class="conversation" style="font-size: 14pt;padding:12px;line-height: 40px;width: 70%;margin-bottom: 20px">
    That's awesome! Please leave your phone number and email below so I can get in touch with you as soon as possible.
</p>
<input class="answerField info" name="phone" ng-model="phone" type="text" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'"/>
<input class="answerField info" name="email" ng-model="email" type="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'"/>
